@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h1 class="site-name">Foliage Folio</h1>
    <p class="site-subtitle">The database for the urban botanist.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>&nbsp;&nbsp;Organize your plants!</h2>
        <div class="form-field">
            <span class="main-emoji">&#127807;</span>                
            <p class="blurb-description">Get a new plant? Add it to your database! Document the water, humidity, and light needs for your new pal. That way, you don't need to get anxious moving it to a new room, or leaving it alone while you go on vacation.</p>
            <a href="/Plant/New" class="btn">Add a New Plant</a>
        </div>
    </div>
    <div class="col-md-6">
        <h2>&nbsp;&nbsp;Track your watering!</h2>
        <div class="form-field">
            <span class="main-emoji">&#9748;</span>
            <p class="blurb-description">The solution for the perpetual over- or under-watering plant parent! See how often you're watering-or not watering enough. Compare your watering habits to your plants needs - and track how thirsty your babies are.</p>
            <a href="/Water_Date/New" class="btn">Track a New Watering</a>
        </div>
    </div>
</div>