@model IEnumerable<PlantDatabase.Models.PlantDto>

@{
    ViewBag.Title = "List";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"><h2>Plants</h2></th>
        </tr>
    </thead>
    @foreach (var plant in Model)
    {
        <tr>
            <td><a href="/Plant/Details/@plant.plant_id">@plant.plant_name</a></td>
        </tr>
    }
</table>

<a href="/Plant/New">New Plant</a>
