@model IEnumerable<PlantDatabase.Models.PlantDto>

@{
    ViewBag.Title = "Plant List";
}
<h2>&nbsp;&nbsp;Plants</h2>
<div class="form-field">
    <div class="table-pad">
        <table class="table table-hover">
            @foreach (var plant in Model)
            {
                <tr>
                    <td><a href="/Plant/Details/@plant.plant_id" class="plant-link">@plant.plant_name</a></td>
                </tr>
            }
        </table>
        <a href="/Plant/New" class="btn">Add New Plant</a>
    </div>
</div>