@model PlantDatabase.Models.Water_DateDto

@{
    ViewBag.Title = "Delete?";
}
<h2>&nbsp;&nbsp;Delete?</h2>
<div class="form-field">
    <div class="table-pad">
        <h3>Are you sure that you want to delete <strong>@Model.water_day.ToString("dd/MMMM")</strong> for <strong>@Model.plant_name</strong>?</h3>
        <p class="warning">This can't be undone.</p>
        <form method="post" action="/Water_Date/Delete/@Model.water_id">
            <button type="submit" class="btn warning-button">Confirm Delete</button>
            <a href="/Water_Date/Details/@Model.water_id" class="btn">Cancel</a>
        </form>
    </div>
</div>