@model IEnumerable<PlantDatabase.Models.Water_DateDto>

@{
    ViewBag.Title = "Watering Date List";
}
<h2>&nbsp;&nbsp;Watering Dates</h2>
<div class="form-field">
    <div class="table-pad">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Day Watered</th>
                    <th scope="col">Plant Watered</th>
                </tr>
            </thead>
            @foreach (var water_date in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row"><a href="/Water_Date/Details/@water_date.water_id" class="plant-link">@water_date.water_day.ToString("dd/MMMM")</a></th>
                        <td><a href="/Plant/Details/@water_date.plant_id" class="plant-link">@water_date.plant_name</a></td>
                    </tr>
                </tbody>
            }
        </table>
        <a href="/Water_Date/New" class="btn">Add New Watering</a>
    </div>
</div>
